<!-- <!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<% include ../partialadmin/adminhead %>
<body>
    <!-- Left Panel -->
    <% include ../partialadmin/adminsidebar %>
    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="left-panel" class="left-panel">

        <!-- Header-->
      <% include ../partialadmin/admintopbar %>
      <div class="col-sm-12">
        <!-- Header-->
        <h1>Tour Lists</h1>
        <table>
          <thead>
            <th>Categories</th>
            <th>Title</th>
            <th>Content</th>

          </thead>
          <tbody>
            <% for(var i=0; i<Tour.length; i++){%>
            <tr>
            <td><a href="/Tour/tourdetail/<%=Tour[i]._id %>">  <%=Tour[i].categories %></a></td>
              <td><%= Tour[i].title %></td>
              <td><%= Tour[i].content %></td>
            </tr>
              <%}%>
          </tbody>

        </table>
        </div>
                  <% include ../partialadmin/adminfooter %>
    <!-- Right Panel -->
  <% include ../partialadmin/adminscript %>
</body>

</html>


<!--
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tour List</title>
  </head>
  <body>
    <h1>Tour Lists</h1>
    <table>
      <thead>
        <th>Categories</th>
        <th>Title</th>
        <th>Content</th>

      </thead>
      <tbody>
        <% for(var i=0; i<Tour.length; i++){%>
        <tr>
        <td><a href="/Tour/tourdetail/<%=Tour[i]._id %>">  <%=Tour[i].categories %></a></td>
          <td><%= Tour[i].title %></td>
          <td><%= Tour[i].content %></td>
        </tr>
          <%}%>
      </tbody>

    </table>
  </body>
</html> -->
