<!-- <!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<% include ../partialadmin/adminhead %>
<body>
    <!-- Left Panel -->
    <% include ../partialadmin/adminsidebar %>
    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="left-panel" class="left-panel">

        <!-- Header-->
      <% include ../partialadmin/admintopbar %>
      <div class="col-sm-12 bg-danger text-white">
        <!-- Header-->
        <h1>Festival & Event Detail</h1><br><br>
        Categories:&nbsp;&nbsp;<%=festivalAevent.categories %><br><br><br>
        Title:&nbsp;&nbsp;<%=festivalAevent.title%><br><br><br>
        Content:&nbsp;&nbsp;<%=festivalAevent.content%><br><br><br>
        profile:&nbsp;&nbsp;<img src="<%=festivalAevent.imgUrl %>" width="200" height="200" alt="">
          <a href="/festivalAevent/faeventupdate/<%=festivalAevent._id%>"> <br><br><br><br>
            <button type="submit" name="button">Update</button></a>
          <button type="submit" onclick="ch();" name="button">Delete</button><br><br><br><br><br><br>
        </body>
        <script type="text/javascript">
        function ch(){
          var re=confirm("Are you sure");
          if(re){
            location.href='/festivalAevent/faeventdelete/<%=festivalAevent._id%>';
          }
        }

        </script>
        </div>
                  <% include ../partialadmin/adminfooter %>
    <!-- Right Panel -->
  <% include ../partialadmin/adminscript %>
</body>

</html>


<!--
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Festival and Event Detail</title>
  </head>
  <body>
  <h1>Festival and Event Detail</h1>
  Categories:<%=festivalAevent.categories %><p>
  Title:<%=festivalAevent.title%><p>
  Content:<%=festivalAevent.content%><p>
    <a href="/festivalAevent/faeventupdate/<%=festivalAevent._id%>"> <button type="submit" name="button">Update</button></a>
    <button type="submit" onclick="ch();" name="button">Delete</button>
  </body>
  <script type="text/javascript">
  function ch(){
    var re=confirm("Are you sure");
    if(re){
      location.href='/festivalAevent/faeventdelete/<%=festivalAevent._id%>';
    }
  }

  </script>
</html> --> --> -->
