
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<% include ../partialadmin/adminhead %>

<body>
    <!-- Left Panel -->

<% include ../partialadmin/adminsidebar %>

    <!-- Left Panel -->

    <!-- Right Panel -->
<!-- /header -->
        <!-- Header-->

  <% include ../partialadmin/admintopbar %>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12 bg-danger text-white">
                        <div class="card">
                            <div class="card-header bg-danger text-white">
                                <strong class="card-title">Festival & Event Update</strong>
                            </div>
                            <div class="card-body">
                              <h1>Festival & Event Update</h1><br><br>
                              <form class="" action="/festivalAevent/faeventupdate" method="post">
                                <input type="hidden" name="id" value="<%=festivalAevent._id%>">
                                <label for="categories">Categories</label><br>
                                <select class="" id="categories" data-style="btn-info" name="categories">
                                  <option value="Festival">Festival</option>
                                  <option value="Event">Event</option>
                                </select><br><br><br>
                                 <label for="title">Title</label><br>
                                 <input type="text" name="title" id="title" value="<%=festivalAevent.title%>"><br><br><br>
                                 <label for="content">Content</label><br>
                                 <textarea name="content" id="content" rows="8" cols="80"><%=festivalAevent.content %></textarea><br><br>
                                 <label for="photo">profile</label><br>
                                 <input type="file" name="photo" value=""><br><br><br>
                                 <button type="submit" name="submit">Update</button><br><br><br>
                              </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->

    <!-- Right Panel -->


  <% include ../partialadmin/adminscript %>

</body>

</html>



<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Festival and Event Update</title>
  </head>
  <body>
    <h1>Festival and Event Update</h1>
    <form class="" action="/festivalAevent/faeventupdate" method="post">
      <input type="hidden" name="id" value="<%=festivalAevent._id%>">
      <label for="categories">Categories</label><p>
          <select class="" id="categories" data-style="btn-info" name="categories">
            <option value="Festival">Festival</option>
            <option value="Event">Event</option>

            </select><p>
        <label for="title">title</label><p>
          <input type="text" name="title" id="title" value="<%=festivalAevent._title%>"><br>
          <label for="content">Content</label><p>
            <textarea name="content" id="content" rows="8" cols="80"><%=festivalAevent._content%></textarea><br>
            <button type="submit" name="button">Add</button>

    </form>
  </body>
</html> -->
