
<!-- <!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<% include ../partialadmin/adminhead %>
<body>
    <!-- Left Panel -->
    <% include ../partialadmin/adminsidebar %>
    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="left-panel" class="left-panel">

        <!-- Header-->
      <% include ../partialadmin/admintopbar %>
      <div class="col-sm-12 bg-danger text-white">
        <!-- Header-->
        <h1>See & Do Update</h1><br><br>
        <form class="" action="/seeAdo/seeAdoupdate" method="post">
          <input type="hidden" name="id" value="<%=seeAdo._id%>">
          <label for="categories">Categories</label><br>
            <select class="" id="categories" data-style="btn-info" name="categories">
              <option value="Arts">Arts</option>
              <option value="History">History</option>
              <option value="Culture">Culture</option>
              <option value="Architecture">Architecture</option>
              <option value="NatureAndWildlife">Nature and Wildlife</option>
            </select><br><br><br>
          <label for="title">Title</label><br>
          <input type="text" name="title" id="title" value="<%=seeAdo.title%>"><br><br><br>
          <label for="content">Content</label><br>
          <textarea name="content" id="content" rows="8" cols="80"><%=seeAdo.content %></textarea><br><br>
          <label for="photo">profile</label><br>
          <input type="file" name="photo" value=""><br><br><br>
          <button type="submit" name="submit">Update</button><br><br>
        </form>
        </div>
                  <% include ../partialadmin/adminfooter %>
    <!-- Right Panel -->
  <% include ../partialadmin/adminscript %>
</body>

</html>


<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>See And Do Update</title>
  </head>
  <body>
    <h1>See And Do Update</h1>
    <form class="" action="/seeAdo/seeAdoupdate" method="post">
      <input type="hidden" name="id" value="<%=seeAdo._id%>">
      <label for="categories">Categories</label><p>
        <select class="" id="categories" data-style="btn-info" name="categories">
          <option value="Arts">Arts</option>
          <option value="History">History</option>
          <option value="Culture">Culture</option>
          <option value="Architecture">Architecture</option>
          <option value="NatureAndWildlife">Nature and Wildlife</option>

        </select><p>
      <label for="title">Title</label><p>
        <input type="text" name="title" id="title" value="<%=seeAdo.title%>"><br>
      <label for="content">Content</label><p>
      <textarea name="content" id="content" rows="8" cols="80"><%=seeAdo.content %></textarea><br>
      <button type="submit" name="submit">Update</button>

    </form>
  </body>
</html> -->
