
<!doctype html>
<html lang="en">

<% include ../partialuser/head %>

<body>


			<% include ../partialuser/navbar %>


<section class="home_banner_area section_gap_top" >
	<h3 align='center'> The Arts of Myanmar</h3>
      <div class="row">
				<div class="col-sm-4 col-md-6 ">
					<div class="single-feature bg-warning">
						<div class="feature-details">
						 <h6><%= see[0].categories %></h6><br><br>
						 <h6><%= see[0].title %></h6><br><br>
										<h6><%= see[0].content %></h6><br><br>
										<a href="#" class="primary-btn mb-40"><h6>Read More</h6></a><br><br>
									 <%= see[1].imgUrl %>
						</div>



				</div>
			</div>
						<div class="col-sm-4 col-md-6 ">
							<div class="single-feature bg-primary">
								<div class="feature-details">
								<h6><%= see[1].categories %></h6><br><br>
								<h6><%= see[1].title %></h6><br><br>
											<h6><%= see[1].content %></h6><br><br>
												<a href="#" class="primary-btn mb-40"><h6>Read More</h6></a><br><br>
												<%= see[1].imgUrl %>
								</div>


						</div>
					</div>
				<!-- single-feature -->
				<div class="col-sm-4 col-md-6">
					<div class="single-feature bg-danger">
						<div class="feature-details">
							 <h6><%= see[2].categories %></h6><br><br>
							 <h6><%= see[2].title %></h6><br><br>
										<h6><%= see[2].content %></h6><br><br>
										<a href="#" class="primary-btn mb-40"><h6>Read More</h6></a><br><br>
									 <%= see[2].imgUrl %>
						</div>


				</div>
			</div>
		</div>
	</section>

<% include ../partialuser/script %>
</body>

</html>
