
<!doctype html>
<html lang="en">

<% include ../partialuser/head %>

<body>


			<% include ../partialuser/navbar %>


	<!--================ End Header Menu Area =================-->

	<!--================ Start Home Banner Area =================-->

	<!--================ End Home Banner Area =================-->

	<!--================ Start Feature Area =================-->

	<section class="home_banner_area section_gap_top" >
	<h3 align='center'>Festival of Myanmar</h3>
	  <div class="container">
      <div class="row">
				<div class="col-sm-4">
					<div class="single-feature bg-light">
						<div class="feature-details">
					<h6 class="text-danger">	<%= festival[0].categories %></h6><br><br>
						 <h6 class="text-danger"><%= festival[0].title %></h6><br><br>
										<h6 class="text-danger"><%= festival[0].content %></h6><br><br>
										<a href="#" class="primary-btn mb-40"><h6 class="text-danger">Read More</h6></a><br><br>
								<div class="feature-thumb">
									 <img src="<%= festival[0].imgUrl %>" alt="" width="250" height="200">
					 	</div>
					</div>
				</div>
			</div>
						<div class="col-sm-4">
							<div class="single-feature bg-light">
								<div class="feature-details">
							<h6 class="text-danger">	<%= festival[1].categories %></h6><br><br>
								<h6 class="text-danger"><%= festival[1].title %></h6><br><br>
											<h6 class="text-danger"><%= festival[1].content %></h6><br><br>
												<a href="#" class="primary-btn mb-40"><h6 class="text-danger">Read More</h6></a><br><br>
												<div class="feature-thumb">
												<img src="<%= festival[1].imgUrl %>" alt="" width="250" height="200">
								</div>
							</div>
						</div>
					</div>
				<!-- single-feature -->
				<div class="col-sm-4">
					<div class="single-feature bg-light">
						<div class="feature-details">
							 <h6 class="text-danger"><%= festival[2].categories %></h6><br><br>
							<h6 class="text-danger"> <%= festival[2].title %></h6><br><br>
									<h6 class="text-danger">	<%= festival[2].content %></h6><br><br>
										<a href="#" class="primary-btn mb-40"><h6 class="text-danger">Read More</h6></a><br><br>
									<div class="feature-thumb">
									 <img src="<%= festival[2].imgUrl %>" alt="" width="250" height="200">
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
	</section>
	<!--================ End Feature Area =================-->

	<!--================ Start CTA Area =================-->

	<!--================ End Footer Area =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<% include ../partialuser/script %>
</body>

</html>
