
<!doctype html>
<html lang="en">

<% include ../partialuser/head %>

<body>


			<% include ../partialuser/navbar %>


<section class="home_banner_area section_gap_top" >

      <div class="container">


						<div class="feature-details">
              <p class="text-warning">
						 <h4 class="text-danger"><%= see[0].categories %></h4><br><br>
						 <h4 class="text-danger"><%= see[0].title %></h4><br><br>
						<h4 class="text-danger"><%= see[0].content %></h4><br><br>
									<center>	<a href="#" class="primary-btn mb-40" ><h4 class="text-danger">Read More</h4></a><br><br></center>
									 <%= see[1].imgUrl %></p>
						</div>




			</div>

	</section>

<% include ../partialuser/script %>
</body>

</html>


<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>home</title>
  </head>
  <body>
    <table>
      <thead>
        <th>Cat</th>
        <th>Title</th>
        <th>Content</th>
        <th>Img</th>
      </thead>
      <tbody>
        <% for(var i = 0; i < see.length; i++){%>
          <tr>
            <td><%= see[i].categories %></td>
            <td><%= see[i].title %></td>
            <td><%= see[i].content %></td>
            <td><%= see[i].imgUrl %></td>
          </tr>
        <%}%>
      </tbody>
    </table>
  </body>
</html> -->
