
<!doctype html>
<html lang="en">

<% include ../partialuser/head %>

<body>


			<% include ../partialuser/navbar %>



			<section class="home_banner_area section_gap_top" >
				<h3 align='center'> The History of Myanmar</h3>
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner_content">

							<h2>Myanmar History</h2>
						</div>
					</div>
				</div>
			</div>
			</section>
			<section class="feature-area section_gap_top">
				<div class="container">
					<div class="row align-items-end justify-content-left">
						<div class="col-lg-12">
							<div class="main_title">

								<span class="title-widget-bg"></span>
							</div>
						</div>
					</div>
					 <div class="row">
						 <div class="col-sm-4 ">
							 <div class="single-feature bg-light">
								 <div class="feature-details">


						 <h4 class="text-danger"><%= see[0].categories %></h4><br><br>
						 <h4 class="text-danger"><%= see[0].title %></h4><br><br>
						<h4 class="text-danger"><%= see[0].content %></h4><br><br>
									<center>	<a href="#" class="primary-btn mb-40" ><h4 class="text-danger">Read More</h4></a><br><br></center>
									 <img src="%= see[1].imgUrl %>" alt="" width="250" height="200">
						</div>




			</div>

	</section>

<% include ../partialuser/script %>
</body>

</html>


<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>home</title>
  </head>
  <body>
    <table>
      <thead>
        <th>Cat</th>
        <th>Title</th>
        <th>Content</th>
        <th>Img</th>
      </thead>
      <tbody>
        <% for(var i = 0; i < see.length; i++){%>
          <tr>
            <td><%= see[i].categories %></td>
            <td><%= see[i].title %></td>
            <td><%= see[i].content %></td>
            <td><%= see[i].imgUrl %></td>
          </tr>
        <%}%>
      </tbody>
    </table>
  </body>
</html> -->
