


<!doctype html>
<html lang="en">

<% include ../partialuser/head %>

<body>


			<% include ../partialuser/navbar %>


	<!--================ End Header Menu Area =================-->

	<!--================ Start Home Banner Area =================-->

	<!--================ End Home Banner Area =================-->

	<!--================ Start Feature Area =================-->

	<section class="home_banner_area section_gap_top" >
	<h3 align='center'>Traveller Essential of Myanmar</h3>
      <div class="row">
				<div class="col-sm-4 col-md-6 ">
					<div class="single-feature bg-light">
						<div class="feature-details">
					<h6 class="text-danger"><%= traveller.categories %></h6><br><br>
						 <h6 class="text-danger"><%= traveller.title %></h6><br><br>
								<h6 class="text-danger">	<%= traveller.content %></h6><br><br>
										<a href="#" class="primary-btn mb-40"><h6 class="text-danger">Read More</h6></a><br><br>
									<h6> <%= traveller.imgUrl %></h6>
						</div>



				</div>
			</div>
						<div class="col-sm-4 col-md-6 ">
							<div class="single-feature bg-light">
								<div class="feature-details">
							<h6 class="text-danger">	<%= traveller.categories %></h6><br><br>
							<h6 class="text-danger">	<%= traveller.title %></h6><br><br>
										<h6 class="text-danger"><%= traveller.content %></h6><br><br>
												<a href="#" class="primary-btn mb-40"><h6 class="text-danger">Read More</h6></a><br><br>
											<h6>	<%= traveller.imgUrl %></h6>
								</div>


						</div>
					</div>
				<!-- single-feature -->
				<div class="col-sm-4 col-md-6">
					<div class="single-feature bg-light">
						<div class="feature-details">
							 <h6 class="text-danger"><%= traveller.categories %></h6><br><br>
							 <h6 class="text-danger"><%= traveller.title %></h6><br><br>
									<h6 class="text-danger"><%= traveller.content %></h6><br><br>
										<a href="#" class="primary-btn mb-40"><h6 class="text-danger">Read More</h6></a><br><br>
									 <h6><%= traveller.imgUrl %></h6>
						</div>


				</div>
			</div>
		</div>
	</section>
	<!--================ End Feature Area =================-->

	<!--================ Start CTA Area =================-->

	<!--================ End Footer Area =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<% include ../partialuser/script %>
</body>

</html>

<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Traveller Essential</title>
  </head>
  <body>
    <h1>Traveller Essential</h1>
    <table>
      <thead>
        <th>Title</th>
        <th>Content</th>
        <th>Image</th>
      </thead>
      <tbody>
        <% for (var i=0; i<traveller.length; i++){%>
          <tr>
            <td><%=traveller.title %></td>
            <td><%=traveller.content %></td>
            <td><%=traveller.imgUrl %></td>
          </tr>

        <%}%>
      </tbody>
    </table>
  </body>
</html> -->
