<!doctype html>
<html lang="en">

<% include ../partialuser/head %>

<body>
			<% include ../partialuser/navbar %>
	<!--================ End Header Menu Area =================-->

	<!--================ Start Home Banner Area =================-->

	<!--================ End Home Banner Area =================-->

	<!--================ Start Feature Area =================-->
	<section class="home_banner_area section_gap_top" >
	<div class="banner_inner overlay d-flex align-items-center">
	<div class="container">
		<div class="row fullscreen d-flex align-items-center justify-content-center">
			<div class="banner_content">

				<h2>Myanmar History</h2>
			</div>
		</div>
	</div>
</div>
</section>
<section class="feature-area section_gap_top">
	<div class="container">
		<div class="row align-items-end justify-content-left">
			<div class="col-lg-12">
				<div class="main_title">
<h1 class="text-danger">Traveller Essential </h1>
					<span class="title-widget-bg"></span>
				</div>
			</div>
		</div>
		 <div class="row">
			 <div class="col-sm-4 ">
				 <div class="single-feature bg-light">
					 <div class="feature-details">					<h6 class="text-danger"><%= traveller.categories %></h6><br><br>
						 <h6 class="text-danger"><%= traveller.title %></h6><br><br>
								<h6 class="text-danger">	<%= traveller.content %></h6><br><br>
										<a href="#" class="primary-btn mb-40"><h6 class="text-danger">Read More</h6></a><br><br>
									<div class="feature-thumb">
									<img src="<%= traveller.imgUrl %>" alt="" width="250" height="200">
						</div>
						</div>
				</div>
			</div>
						<div class="col-sm-4">
							<div class="single-feature bg-light">
								<div class="feature-details">
							<h6 class="text-danger">	<%= traveller.categories %></h6><br><br>
							<h6 class="text-danger">	<%= traveller.title %></h6><br><br>
										<h6 class="text-danger"><%= traveller.content %></h6><br><br>
												<a href="#" class="primary-btn mb-40"><h6 class="text-danger">Read More</h6></a><br><br>
									<div class="feature-thumb">
												<img src="<%= traveller.imgUrl %>" alt="" width="250" height="200">
								</div>
								</div>
						</div>
					</div>
				<!-- single-feature -->
				<div class="col-sm-4">
					<div class="single-feature bg-light">
						<div class="feature-details">
							 <h6 class="text-danger"><%= traveller.categories %></h6><br><br>
							 <h6 class="text-danger"><%= traveller.title %></h6><br><br>
									<h6 class="text-danger"><%= traveller.content %></h6><br><br>
										<a href="#" class="primary-btn mb-40"><h6 class="text-danger">Read More</h6></a><br><br>
									<div class="feature-thumb">

									 <img src="<%= traveller.imgUrl %>" alt="" width="250" height="200">
						</div>
				</div>
			</div>
		</div>
		</div>
		</div>
	</section>
	<!--================ End Feature Area =================-->

	<!--================ Start CTA Area =================-->

	<!--================ End Footer Area =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<% include ../partialuser/script %>
</body>

</html>
