
<!doctype html>
<html lang="en">

<% include ../partialuser/head %>

<body>


			<% include ../partialuser/navbar %>


	<!--================ End Header Menu Area =================-->

	<!--================ Start Home Banner Area =================-->

	<!--================ End Home Banner Area =================-->

	<!--================ Start Feature Area =================-->

	<section class="home_banner_area section_gap_top" >
	<h3 align='center'>World heritage sites of Myanmar</h3>
      <div class="row">
				<div class="col-sm-4 col-md-6 ">
					<div class="single-feature bg-muted">
						<div class="feature-details">
						 <h6 class="text-danger"><%= tour[0].categories %></h6><br><br>
						 <h6 class="text-danger"><%= tour[0].title %></h6><br><br>
										<h6 class="text-danger"><%= tour[0].content %></h6><br><br>
										<a href="#" class="primary-btn mb-40"><h6 class="text-danger">Read More</h6></a><br><br>
									 <%= tour[1].imgUrl %>
						</div>



				</div>
			</div>
						<div class="col-sm-4 col-md-6 ">
							<div class="single-feature bg-muted">
								<div class="feature-details">
								<h6 class="text-danger"><%= tour[1].categories %></h6><br><br>
								<h6 class="text-danger"><%= tour[1].title %></h6><br><br>
											<h6 class="text-danger"><%= tour[1].content %></h6><br><br>
												<a href="#" class="primary-btn mb-40"><h6 class="text-danger">Read More</h6></a><br><br>
												<%= tour[1].imgUrl %>
								</div>


						</div>
					</div>
				<!-- single-feature -->
				<div class="col-sm-4 col-md-6">
					<div class="single-feature bg-muted">
						<div class="feature-details">
							 <h6 class="text-danger"><%= tour[2].categories %></h6><br><br>
							 <h6 class="text-danger"><%= tour[2].title %></h6><br><br>
										<h6 class="text-danger"><%= tour[2].content %></h6><br><br>
										<a href="#" class="primary-btn mb-40"><h6 class="text-danger">Read More</h6></a><br><br>
									 <%= tour[2].imgUrl %>
						</div>


				</div>
			</div>
		</div>
	</section>
	<!--================ End Feature Area =================-->

	<!--================ Start CTA Area =================-->

	<!--================ End Footer Area =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<% include ../partialuser/script %>
</body>

</html>
